node_modules/
.vscode/
server/.env
client/.env
client/app/components/Admin/DashboardHeader.tsx
client/app/components/Admin/DashboardHero.tsx
client/app/components/Admin/Analytics/CourseAnalytics.tsx
client/app/components/Admin/Analytics/OrdersAnalytics.tsx
client/app/components/Admin/Analytics/UserAnalytics.tsx
client/app/components/Admin/Course/AllCourses.tsx
client/app/components/Admin/Course/CourseContent.tsx
client/app/components/Admin/Course/CourseData.tsx
client/app/components/Admin/Course/CourseInformation.tsx
client/app/components/Admin/Course/CourseOptions.tsx
client/app/components/Admin/Course/CoursePreview.tsx
client/app/components/Admin/Course/CreateCourse.tsx
client/app/components/Admin/Course/EditCourse.tsx
client/app/components/Admin/Customization/EditCategories.tsx
client/app/components/Admin/Customization/EditFaq.tsx
client/app/components/Admin/Customization/EditHero.tsx
client/app/components/Admin/Order/AllInvoices.tsx
client/app/components/Admin/Sidebar/AdminSidebar.tsx
client/app/components/Admin/Sidebar/Icon.tsx
client/app/components/Admin/Users/AllUsers.tsx
client/app/components/Admin/Widgets/DashboardWidgets.tsx
client/app/components/Course/CourseContent.tsx
client/app/components/Course/CourseContentList.tsx
client/app/components/Course/CourseContentMedia.tsx
client/app/components/Course/CourseDetails.tsx
client/app/components/Course/CourseDetailsPage.tsx
client/app/components/FAQ/FAQ.tsx
client/app/components/Payment/CheckOutForm.tsx
client/app/components/Review/ReviewCard.tsx
client/app/components/Route/Courses.tsx
client/app/components/Route/Reviews.tsx
client/app/policy/Policy.tsx
client/app/utils/CoursePlayer.tsx
